body {
  margin: 0px;
}

.main {
  background-color: #f0f0f0;
}

.navbar {
  background-color: #1b2838;
}

.navbarlink {
  color: white !important;
  text-decoration: none !important;
  padding-left: 15px;
}